.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

.nav {
  width:100%;
  height: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4vh;
  padding-bottom: 2vh;
  background:var(--navbar);
  box-sizing: border-box;
  font-family: var(--secondary-font), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.page{
  width:100%;
}

.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  width: 100%;
}
.navHome {
  color: #000;
  font-size: max(2vw, 20px);
  font-family: var(--secondary-font), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.navOptions {
  display: flex;
  width: fit-content;
  align-self: stretch;
  gap: 6vw;
  font-size: max(1.8vw, 20px);
}

.navigation {
  letter-spacing: 0.05em;
  width: fit-content;
  align-self: flex-end;
  text-align: end;
  align-items: end;
  justify-content: flex-end;
  flex-direction: column;
}


.footer {
  width: 100%;
  padding-top: 25px;
  padding: 25px 5vw;
  box-sizing: border-box;
  display: flex;
  justify-content:flex-end;
  color: var(--secondary-text-color);
  font-size: 15px;
  letter-spacing: 0.01em;
}

.footerTM{
  width: fit-content;
}
