.page{
  width:100%;
  min-height: calc(100vh - 200px);
}

.context {
  min-height: inherit;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;
  font-family: Lexend, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.container{
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container .elContainer {
  justify-content: normal;
}

.elContainer, .finalContainer {
  width: fit-content;
}


.textContainer {
  width: inherit;
  height: inherit;
  margin: 50px 0 0 0;
  text-align: left;
  font-weight: 900;
  font-size: 30px;
 
}

.text {
  color: #000;
  font-size: 20px;
  letter-spacing: 0.03em;
  position: absolute;
  font-family: inherit;
  left: 378px;
  top: 257px;
  width: 521.3757px;
  height: 297.9445px;
  flex-direction: column;
}
.rectangle1 {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
}
