.page{
  width:inherit;
  min-height: calc(100vh - 200px);
}

.context {
  width: inherit;
  min-height: inherit;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;
  font-family: var(--primary-font), system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: normal;

  
}

.content{
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: left;
  padding: 50px 20vw;
  font-family: inherit;
}

.firstContainer {
  justify-content: normal;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.elContainer {
  justify-content: normal;
  min-height: 100vh;
  width: 100%;
}

.endContainer {
  justify-content: normal;
  min-height: calc(100vh - 150px);
  width: 100%;
}

.textContainer {
  color: #000;
  font-size: 20px;
  letter-spacing: 0.03em;
  width: 60vw;
  height: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10%;
  margin-left: 10%;

}

.textColor{
  margin-right: 10px; 
  margin-top: 20px;
}


.listContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list{
  width: 30%;
}

.listTitle{
  margin-top: 8vh;
  font-weight:900;
  font-size: large;
  height: 8vh;
  align-self: center;
  text-align: center;
  vertical-align: bottom;
}

.listElements{
  min-height: 40vh;
  background: var(--list-gradient);
  padding: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.listEl{
  margin-top: 5%;
  margin-left: 5%;
  width: 100px;
  height: fit-content;
  background-color:  rgba(228, 213, 75, 0.525);
  border-radius: 10px;
  padding: 2%;
  align-items: center;
  text-align: center;
  
}

.greenText {
  background-color:  rgba(7, 111, 50, 0.162);;
}

.redText {
  background-color: rgba(255, 0, 0, 0.111)
}
