.page{
  width:inherit;
  min-height: calc(100vh - 200px);
}

.context {
  width: inherit;
  min-height: inherit;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 10%;
  font-family: Lexend, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: normal;

  
}

.content{
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  flex: 1;
  flex-direction: column;
  align-items: left;
  padding: 50px 10%;
  font-family: Lexend, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}

.firstContainer {
  justify-content: normal;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.elContainer {
  justify-content: normal;
  min-height: 100vh;
  width: 100%;
}

.endContainer {
  justify-content: normal;
  min-height: calc(100vh - 150px);
  width: 100%;
}


.textContainer {
  width: inherit;
  height: inherit;
  margin: 50px 0 0 0;
  text-align: left;
  font-weight: 900;
  font-size: 30px;
 
}

.text {
  color: #000;
  font-size: 20px;
  letter-spacing: 0.03em;
  position: relative;
  font-family: inherit;
  left: 20%;
  top: 30%;
  width: min(50vw, 300px);
  height: fit-content;
  flex-direction: column;
}
.rectangle1 {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
}
